
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    line-height: 1.6;
    background-color: #ffffff;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.container{
    padding: 60px;
    background-color: rgb(234, 234, 241);

    box-shadow: 5px 5px 15px rgba(92, 87, 87, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-verificar {
    display: block;
    padding: 10px;
    background-color: rgb(114, 212, 15);
    box-shadow:5px 5px 15px rgba(32, 31, 31, 0.3);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white; 
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.resposta{
    box-shadow: 5px 5px 15px rgba(92, 87, 87, 0.3);
    color: black;
    padding: 5px 20px;
    border-radius: 8px;
}

